.social-links {
  max-width: 6em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  margin-top: 1em;

  svg {
    fill: #737987;
  }

  svg:hover {
    fill: $blue-bayoux;
  }
}
