#projects {
  .listings {
    padding: 0;
    margin: 0;
  }

  .listing {
    display: inline-block;
    flex-direction: column;

    &:not(:last-child) {
      margin-bottom: 1em;
    }

    a {
      text-decoration: none;
      line-height: 1.7;
      color: $blue-bayoux;
      font-family: var(--font-secondary);

      &:hover {
        color: $sanguine-brown;

        // &:after {
        //   content: " > Case Study";
        //   color: $gray-border;
        //   font-size: 0.5em;
        //   align-items: flex-start;
        // }
      }
    }

    // a:hover {
    //   text-decoration: underline;
    //   color: $sanguine-brown;

    // }

    .tags {
      font-weight: 200;
    }
  }
}
