.portrait {
  overflow: hidden;
  width: 10em;
  height: 10em;
  // border-radius: 100%;
  grid-row: 2;
  grid-template-columns: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -1.2rem;
  clip-path: ellipse(58px 75px at 52% 47%);

  img {
    width: 100%;
  }
}
