.portrait {
  display: none;
  @include breakpoint(lg) {
    display: flex;
  }

  overflow: hidden;
  width: 10em;
  height: 10em;
  grid-row: 2;
  grid-template-columns: 1 / 2;
  justify-content: center;
  align-items: center;
  margin-left: -1.2rem;
  clip-path: ellipse(58px 75px at 52% 47%);

  img {
    width: 100%;
  }
}
