#about-me {
  p {
    margin-bottom: 0.75em;
  }

  .chapter {
    @include breakpoint(md) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1em;
    }

    .images {
      padding-top: 1em;
      place-items: center;
      max-width: 400px;
    }
  }

  img {
    filter: grayscale(100%);
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    border: 1px solid $gray-border;
  }
}
