header {
  width: 100%;

  position: sticky;
  top: 0;

  .container {
    display: block;
    @include breakpoint(sm) {
      padding: 0;
    }
    @include breakpoint(md) {
      padding: 2em 1em 1em 1em;
    }
    @include breakpoint(lg) {
      padding: 2.5em 3em 1em 3em;
      display: flex;
    }
    align-items: baseline;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    // line-height: 0;
    // height: 6em;
  }

  a {
    display: block;
    text-decoration: none;
  }

  .logo {
    margin: 0;
  }

  .subheading {
    margin: 0;
    font-weight: 200;
  }

  background-image: rgb(250, 252, 253);
  background-image: linear-gradient(
    0deg,
    rgba(250, 252, 253, 1) 5%,
    rgba(208, 218, 224, 1) 100%
  );
  // background-image: url("../images/gradient.png");
  background-repeat: repeat-x;
  background-position: 0px 0px;
  background-color: #ffffff;
  background-size: 100% 1800px;
}
