// Colors
$black-squeeze: #fafcfd;
$geyser: #d0dae0;
$blue-bayoux: #4a5b78;
$sanguine-brown: #833636;
$sanguine-brown-faded: rgba(131, 54, 54, 0.25);
$oslo-gray: rgba(123, 135, 142, 1);
$tundora: rgba(76, 71, 71, 1);
$thunder: #252122;
$gray-border: rgba(0, 0, 0, 0.2);
