@import "_breakpoints";
@import "_typography";
@import "_grids";
@import "global";
@import "components/__components";
@import "pages/__pages";

body {
  padding: 0;
  margin: 0;
}

.wrapper {
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 2em 0;
  width: 100%;
}
