@import "_reset";
@import "_breakpoints";
@import "_colors";
@import "_typography";
@import "_grids";
@import "_global";
@import "components/__components";
@import "pages/__pages";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 4em;
}

body {
  padding: 0;
  margin: 0;
}

.wrapper {
  min-height: 100vh;
  margin: 0 auto 1.5em auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  grid-row: 1 / span 2;
  margin-top: 1em;
}

section {
  // border-bottom: 1px solid $gray-border;
  padding-bottom: 0.75em;
}

section:not(:first-child) {
  padding-top: 0.75em;
}

.section-header {
  text-transform: uppercase;
  font-size: 1rem;
  font-family: var(--font-primary);
  letter-spacing: 0.05em;
  font-weight: 300;
  color: $tundora;
  margin-bottom: 0.25em;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0em 1em 1em 1em;
  @include breakpoint(lg) {
    display: grid;
    grid-template-columns: 11em 1fr;
    grid-template-rows: 1fr 200px;
  }

  @include breakpoint(md) {
    margin: 0em 3em 1em 3em;
  }
  justify-content: flex-start;
}

// Project Template Specifics
.project {
  max-width: 88vw;
  // margin-top: 0.8em;
  img {
    border: solid 1px $gray-border;
  }

  @include breakpoint(md) {
    max-width: 40em;
  }

  pre {
    max-width: 40em;
  }

  ul {
    margin: 0;
    padding-left: 1em;
    list-style-type: circle;
  }

  li > p {
    max-width: 36em;
  }
}
