body {
  background: rgb(246, 248, 249);
  background: linear-gradient(
    0deg,
    rgba(246, 248, 249, 1) 0%,
    rgba(208, 218, 224, 1) 100%
  );
}

.wrapper {
  // background: rgb(250, 252, 253);
  background: linear-gradient(
    0deg,
    rgba(250, 252, 253, 1) 5%,
    rgba(208, 218, 224, 1) 100%
  );

  width: 95vw;
  max-width: 1344px;
}
